<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.DrinkOrder"
        android:usesCleartextTraffic="true">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".ui.map.MapActivity"
            android:exported="false"
            android:label="Delivery map" />

        <activity android:name=".ui.MainActivity" />

        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.login.RegisterActivity"
            android:exported="false"
            android:label="Register" />

        <activity
            android:name=".ui.login.ProfileActivity"
            android:exported="false"
            android:label="Account" />

        <activity
            android:name=".ui.login.EditProfileActivity"
            android:exported="false"
            android:label="Edit profile" />

        <activity
            android:name=".ui.admin.AdminProductFormActivity"
            android:exported="false"
            android:label="Edit product" />

    </application>
</manifest>
