<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.DrinkOrder">

        <!-- 🔑 API key cho Google Maps: phải nằm TRONG <application> -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".ui.map.MapActivity"
            android:exported="false"
            android:label="Bản đồ" />

        <!-- MainActivity hoạt động bình thường, Login là launcher -->
        <activity android:name=".ui.MainActivity" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
