<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.DrinkOrder">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".ui.map.MapActivity"
            android:exported="false"
            android:label="Ban do" />

        <activity android:name=".ui.MainActivity" />

        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.login.RegisterActivity"
            android:exported="false"
            android:label="Dang ky" />

        <activity
            android:name=".ui.login.ProfileActivity"
            android:exported="false"
            android:label="Tai khoan" />

        <activity
            android:name=".ui.login.EditProfileActivity"
            android:exported="false"
            android:label="Chinh sua thong tin" />

        <activity
            android:name=".ui.admin.AdminProductFormActivity"
            android:exported="false"
            android:label="Chinh sua san pham" />

    </application>
</manifest>
